<!-- templates/home.html -->
{% extends 'base.html' %}
<head> 
  <title>Welcome to HomePage</title>
</head>
<body>
  <center>
    <h1>Body name</h1>
    <h2>Django Web Framework</h2>
    <hr/>
    <h2>Table 1(Model1)</h2>
    <table border="1">
      <tr>
        <th>user_id</th>
        <th>group_id</th>
        <th>problem_id</th>
        <th>problem_grade</th>
      </tr>
      {% for result in Grade%}
      <tr>
        <td>
          {{result.user_id}}
        </td>
        <td>
          {{result.group_id}}
        </td>
        <td>
          {{result.problem_id}}
        </td>
        <td>
          {{result.problem_grade}}
        </td>
      </tr>
      {% endfor %}
    </table>
    <hr/>
    <h2>Table 2(Model2)</h2>
    <table border="1">
      <tr>
        <th>user_id</th>
        <th>message</th>
        <th>date</th>
      </tr>
      {% for result in Chat%}
      <tr>
        <td>
          {{result.user_id}}
        </td>
        <td>
          {{result.message}}
        </td>
        <td>
          {{result.date}}
        </td>
      </tr>
      {% endfor %}

    </table>
    <hr/>
  </center>
</body>